In [1]:
import pandas as pd
import numpy as np 
import os
import plotly.express as px

In [2]:
HR_Analytics= pd.read_csv('HR_Analytics.csv')
HR_Analytics.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Education_Level,JobLevelLabel,JobInvolveLabel,StockOptionLevel_Description,RelationshipSatisfaction_Label,WorkLifeLabel
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,0,0,0,0.0,Bachelor,Junior,Senior,No Stock Options,Good,Good
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,0,0,0,0.0,Bachelor,Junior,Intermediate,No Stock Options,Few,Good
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,0,0,0,0.0,Bachelor,Junior,Senior,No Stock Options,Very Good,Good
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,0,0,0,0.0,College,Junior,Senior,No Stock Options,Very Good,Good
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,0,0,0,0.0,Below College,Junior,Senior,No Stock Options,Very Good,Good

In [3]:
HR_Analytics.shape

(1473, 39)

In [4]:
HR_Analytics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   EmpID                           1473 non-null   object
 1   Age                             1473 non-null   int64
 2   AgeGroup                        1473 non-null   object
 3   Attrition                       1473 non-null   object
 4   BusinessTravel                  1473 non-null   object
 5   DailyRate                       1473 non-null   int64
 6   Department                      1473 non-null   object
 7   DistanceFromHome                1473 non-null   int64
 8   Education                       1473 non-null   int64
 9   EducationField                  1473 non-null   object
 10  EnvSatisfaction                 1473 non-null   int64
 11  Gender                          1473 non-null   object
 12  HourlyRate                      1473 non-null   int64
 13  JobInvolvement                  1473 non-null   int64
 14  JobLevel                        1473 non-null   int64
 15  JobRole                         1473 non-null   object
 16  JobSatisfaction                 1473 non-null   int64
 17  MaritalStatus                   1473 non-null   object
 18  MonthlyIncome                   1473 non-null   int64
 19  MonthlyRate                     1473 non-null   int64
 20  NumCompaniesWorked              1473 non-null   int64
 21  OverTime                        1473 non-null   object
 22  PercentSalaryHike               1473 non-null   int64
 23  PerformanceRating               1473 non-null   int64
 24  RelationshipSatisfaction        1473 non-null   int64
 25  StockOptionLevel                1473 non-null   int64
 26  TotalWorkingYears               1473 non-null   int64
 27  TrainingTimesLastYear           1473 non-null   int64
 28  WorkLifeBalance                 1473 non-null   int64
 29  YearsAtCompany                  1473 non-null   int64
 30  YearsInCurrentRole              1473 non-null   int64
 31  YearsSinceLastPromotion         1473 non-null   int64
 32  YearsWithCurrManager            1473 non-null   object
 33  Education_Level                 1473 non-null   object
 34  JobLevelLabel                   1473 non-null   object
 35  JobInvolveLabel                 1473 non-null   object
 36  StockOptionLevel_Description    1473 non-null   object
 37  RelationshipSatisfaction_Label  1473 non-null   object
 38  WorkLifeLabel                   1473 non-null   object
dtypes: int64(22), object(17)
memory usage: 448.9+ KB

In [5]:
HR_Analytics.isnull().sum()

EmpID                             0
Age                               0
AgeGroup                          0
Attrition                         0
BusinessTravel                    0
DailyRate                         0
Department                        0
DistanceFromHome                  0
Education                         0
EducationField                    0
EnvSatisfaction                   0
Gender                            0
HourlyRate                        0
JobInvolvement                    0
JobLevel                          0
JobRole                           0
JobSatisfaction                   0
MaritalStatus                     0
MonthlyIncome                     0
MonthlyRate                       0
NumCompaniesWorked                0
OverTime                          0
PercentSalaryHike                 0
PerformanceRating                 0
RelationshipSatisfaction          0
StockOptionLevel                  0
TotalWorkingYears                 0
TrainingTimesLastYear             0
WorkLifeBalance                   0
YearsAtCompany                    0
YearsInCurrentRole                0
YearsSinceLastPromotion           0
YearsWithCurrManager              0
Education_Level                   0
JobLevelLabel                     0
JobInvolveLabel                   0
StockOptionLevel_Description      0
RelationshipSatisfaction_Label    0
WorkLifeLabel                     0
dtype: int64

In [6]:
HR_Analytics['YearsWithCurrManager']=HR_Analytics['YearsWithCurrManager'].fillna('unknown')

In [7]:
HR_Analytics.isnull().sum()

EmpID                             0
Age                               0
AgeGroup                          0
Attrition                         0
BusinessTravel                    0
DailyRate                         0
Department                        0
DistanceFromHome                  0
Education                         0
EducationField                    0
EnvSatisfaction                   0
Gender                            0
HourlyRate                        0
JobInvolvement                    0
JobLevel                          0
JobRole                           0
JobSatisfaction                   0
MaritalStatus                     0
MonthlyIncome                     0
MonthlyRate                       0
NumCompaniesWorked                0
OverTime                          0
PercentSalaryHike                 0
PerformanceRating                 0
RelationshipSatisfaction          0
StockOptionLevel                  0
TotalWorkingYears                 0
TrainingTimesLastYear             0
WorkLifeBalance                   0
YearsAtCompany                    0
YearsInCurrentRole                0
YearsSinceLastPromotion           0
YearsWithCurrManager              0
Education_Level                   0
JobLevelLabel                     0
JobInvolveLabel                   0
StockOptionLevel_Description      0
RelationshipSatisfaction_Label    0
WorkLifeLabel                     0
dtype: int64

In [8]:
HR_Analytics.duplicated().sum()

0

In [9]:
HR_Analytics[HR_Analytics.duplicated(keep=False)]

Empty DataFrame
Columns: [EmpID, Age, AgeGroup, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EnvSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager, Education_Level, JobLevelLabel, JobInvolveLabel, StockOptionLevel_Description, RelationshipSatisfaction_Label, WorkLifeLabel]
Index: []

[0 rows x 39 columns]

In [10]:
HR_Analytics= HR_Analytics.drop_duplicates()

In [11]:
HR_Analytics.duplicated().sum()

0

In [12]:
HR_Analytics.shape

(1473, 39)

In [13]:
HR_Analytics.dtypes == object

EmpID                              True
Age                               False
AgeGroup                           True
Attrition                          True
BusinessTravel                     True
DailyRate                         False
Department                         True
DistanceFromHome                  False
Education                         False
EducationField                     True
EnvSatisfaction                   False
Gender                             True
HourlyRate                        False
JobInvolvement                    False
JobLevel                          False
JobRole                            True
JobSatisfaction                   False
MaritalStatus                      True
MonthlyIncome                     False
MonthlyRate                       False
NumCompaniesWorked                False
OverTime                           True
PercentSalaryHike                 False
PerformanceRating                 False
RelationshipSatisfaction          False
StockOptionLevel                  False
TotalWorkingYears                 False
TrainingTimesLastYear             False
WorkLifeBalance                   False
YearsAtCompany                    False
YearsInCurrentRole                False
YearsSinceLastPromotion           False
YearsWithCurrManager               True
Education_Level                    True
JobLevelLabel                      True
JobInvolveLabel                    True
StockOptionLevel_Description       True
RelationshipSatisfaction_Label     True
WorkLifeLabel                      True
dtype: bool

In [18]:
HR_Analytics.drop(columns=['Over18', 'SalarySlab', 'EmployeeCount', 'StandardHours', 'EmployeeNumber'], inplace= True)

KeyError: "['Over18', 'SalarySlab', 'EmployeeCount', 'StandardHours', 'EmployeeNumber'] not found in axis"

In [ ]:
HR_Analytics.columns

In [ ]:
HR_Analytics.shape

In [ ]:
HR_Analytics.columns

In [ ]:
HR_Analytics['Education'].unique()

In [ ]:
education_map = {
    1: 'Below College',
    2: 'College',
    3: 'Bachelor',
    4: 'Master',
    5: 'Doctor'
}

In [ ]:
HR_Analytics['Education_Level'] = HR_Analytics['Education'].map(education_map)

In [ ]:
HR_Analytics['Education_Level'].unique()

In [ ]:
HR_Analytics.rename(columns={'EnvironmentSatisfaction': 'EnvSatisfaction'}, inplace=True)

In [ ]:
HR_Analytics['JobLevel'].unique()

In [ ]:
job_level_map = {
    1: 'Junior',
    2: 'Intermediate',
    3: 'Senior',
    4: 'Manager',
    5: 'Senior Executive'
}

In [ ]:
HR_Analytics['JobLevelLabel'] = HR_Analytics['JobLevel'].map(job_level_map)

In [ ]:
HR_Analytics['JobLevelLabel'].unique()

In [ ]:
HR_Analytics['JobInvolvement'].unique()

In [ ]:
job_involve_map = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

In [ ]:
HR_Analytics['JobInvolveLabel'] = HR_Analytics['JobInvolvement'].map(job_level_map)

In [ ]:
HR_Analytics['JobInvolveLabel'].unique()

In [ ]:
HR_Analytics['JobSatisfaction'].unique()

In [ ]:
#job_satisfaction_map = {
    #1: 'Poor',
    #2: 'Fair',
    #3: 'Good',
    #4: 'Very Good'
#}

In [ ]:
#HR_Analytics.rename(columns={'JobSatisfaction': 'JobSatisfy_Level'}, inplace=True)
#HR_Analytics['JobSatisfy_Label'] = HR_Analytics['JobSatisfy_Level'].map(job_satisfaction_map)

In [ ]:
#HR_Analytics['JobSatisfy_Label'].unique()

In [ ]:
#HR_Analytics['PerformanceRating'].unique()

In [ ]:
#performance_score_map = {
    #3: 'Good',
    #4: 'Excellent'
#}

In [ ]:
#HR_Analytics.rename(columns={'PerformanceRating': 'PerformanceScore'}, inplace=True)

In [ ]:
#HR_Analytics['PerformanceLabel'] = HR_Analytics['PerformanceScore'].map(performance_score_map)

In [ ]:
#HR_Analytics['PerformanceLabel'].unique()

In [ ]:
HR_Analytics['StockOptionLevel'].unique()

In [ ]:
stock_option_map = {
    0: 'No Stock Options',
    1: 'Low Stock Options',
    2: 'Medium Stock Options',
    3: 'High Stock Options'
}

HR_Analytics['StockOptionLevel_Description'] = HR_Analytics['StockOptionLevel'].map(stock_option_map)

In [ ]:
HR_Analytics['StockOptionLevel_Description'].unique()

In [ ]:
#HR_Analytics['TrainingTimesLastYear'].unique()

In [ ]:
#training_map = {
 #0: 'No Training',
  #  1: 'Few',
   # 2: 'Moderate',
    #3: 'Good',
    #4: 'Very Good',
    #5: 'Excellent',
    #6: 'Exceptional'
#}
#HR_Analytics['TrainingsLastYear_Label'] = HR_Analytics['TrainingTimesLastYear'].map(training_map)

In [ ]:
#HR_Analytics['TrainingsLastYear_Label'].unique()

In [ ]:
HR_Analytics['RelationshipSatisfaction'].unique()

In [ ]:
relation_map = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

In [ ]:
HR_Analytics['RelationshipSatisfaction_Label'] = HR_Analytics['RelationshipSatisfaction'].map(training_map)

In [ ]:
HR_Analytics['RelationshipSatisfaction_Label'].unique()

In [ ]:
HR_Analytics['WorkLifeBalance'].unique()

In [ ]:
work_life_map = {
    1: 'Poor',
    2: 'Fair',
    3: 'Good',
    4: 'Excellent'
}

In [ ]:
HR_Analytics['WorkLifeLabel'] = HR_Analytics['WorkLifeBalance'].map(work_life_map)

In [ ]:
HR_Analytics['WorkLifeLabel'].unique()

In [ ]:
HR_Analytics.columns

In [ ]:
HR_Analytics.to_csv("cleaned_HR.csv", index=False)

In [ ]:
#HR_Analytics

In [ ]:
#HR_Analytics.drop(
 #   ['Education', 'JobLevel', 'JobInvolvement', 'StockOptionLevel',
  #3    'RelationshipSatisfaction', 'WorkLifeBalance'],
    #axis=1,
    #errors='ignore',
   # inplace=True
#)

In [ ]:
HR_Analytics.columns

In [ ]:
HR_Analytics.to_csv("cleaned_HR.csv", index=False)

In [ ]:
attrition_rate = (HR_Analytics['Attrition'].value_counts().get('Yes', 0) / len(HR_Analytics)) * 100
print(f"Attrition Rate: {attrition_rate:.2f}%")

In [ ]:
avg_tenure = HR_Analytics['YearsAtCompany'].mean()
print(f"Average Tenure: {avg_tenure:.2f} years")

In [ ]:
avg_satisfaction = HR_Analytics['JobSatisfaction'].mean()
print(f"Average Job Satisfaction Score: {avg_satisfaction:.2f}")

In [ ]:
performance_dist = HR_Analytics['PerformanceRating'].value_counts(normalize=True) * 100
print(performance_dist)

In [ ]:
#training_avg = HR_Analytics['TrainingLastYear_Label'].mean()
#print(f"Average Trainings Per Employee: {training_avg:.2f} times/year")

In [ ]:
promoted_count = (HR_Analytics['YearsSinceLastPromotion'] == 0).sum()
promotion_rate = (promoted_count / len(HR_Analytics)) * 100
print(f"Promotion Rate: {promotion_rate:.2f}%")

In [15]:
HR_Analytics.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EnvSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Education_Level', 'JobLevelLabel',
       'JobInvolveLabel', 'StockOptionLevel_Description',
       'RelationshipSatisfaction_Label', 'WorkLifeLabel'],
      dtype='object')

In [16]:
HR_Analytics.to_csv("Cleaned1.csv", index=False)

In [17]:
HR_Analytics

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Education_Level,JobLevelLabel,JobInvolveLabel,StockOptionLevel_Description,RelationshipSatisfaction_Label,WorkLifeLabel
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,0,0,0,0.0,Bachelor,Junior,Senior,No Stock Options,Good,Good
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,0,0,0,0.0,Bachelor,Junior,Intermediate,No Stock Options,Few,Good
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,0,0,0,0.0,Bachelor,Junior,Senior,No Stock Options,Very Good,Good
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,0,0,0,0.0,College,Junior,Senior,No Stock Options,Very Good,Good
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,0,0,0,0.0,Below College,Junior,Senior,No Stock Options,Very Good,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,29,8,11,10.0,Bachelor,Senior Executive,Senior,No Stock Options,Very Good,Poor
1469,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,18,13,13,11.0,Bachelor,Senior,Intermediate,No Stock Options,Very Good,Excellent
1470,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,2,2,2,2.0,Master,Intermediate,Senior,No Stock Options,Very Good,Good
1471,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,11,7,1,9.0,Master,Intermediate,Manager,Low Stock Options,Moderate,Good
1472,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,1,0,0,0.0,Master,Senior,Junior,Low Stock Options,Good,Excellent